.main {
}

.root {
  display: flex;
}

.content {
  padding-top: 64px;
  flex-grow: 1;
  background-color: #FFFDF8;
}

.listCard {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 16px;
}

.listItem {
  position: relative;
  width: 70vw;
  height: 85vh;
  color: #131313;
  overflow: hidden;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.listItem img {
  height: 80%;
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.text {
  height: 20%;
}

.description {
  
}

.sidebar {
  width: 10vw;
  flex-shrink: 0;
}

.topbar {
  flex-grow: 1;
}

.toolbar {
  background-color: #FFFDF8;
  color: #131313;
  overflow: auto;
}

.topbarButton:hover {
  color: blue;
  cursor: default;
}

.cardImg {
  object-fit: cover;
  width: 100%;
  height: calc(60vw/2);
  min-height: 200px;
  vertical-align: bottom;
}

.cardTextWraper {
  height: 100%;
  display: table;
}

.cardText {
  display:table-cell;
  vertical-align: middle;
  padding-left: 16px;
}

.ProfessionalInfoCard {
  width: 60vw;
  height: calc(60vw/2);
  min-width: 400px;
  min-height: 200px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.infoCardWraper {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 16px;
}
