.main {
}

.root {
  display: flex;
}

.content {
  flex-grow: 1;
  background-color: #FFFDF8;
  padding: 0;
}

.listItem {
  position: relative;
  width: 100%;
  color: #FFFDF8;
  background-size: contain;
}

.listItem img {
  width: 100%;
}

.text {
  position: absolute;
  bottom: 0;
  left: 0;
}

.sidebar {
  width: 10vw;
  flex-shrink: 0;
}

.topbar {
  flex-grow: 1;
}

.toolbar {
  background-color: #FFFDF8;
  color: #131313;
  overflow: auto;
}

.topbarButton {

}

.topbarButton:hover {
  color: blue;
  cursor: default;
}