.main {
  
}

.body {
  background-color: #FFFDF8;
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

.profile {
  width: 60vw;
  min-width: 400px;
  min-height: 200px;

}

.profilePic {
  width: 100%;
}

.topPresentation {
  width: 60vw;
  min-width: 400px;
  border-bottom: #131313;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.root {
  display: flex;
}

.content {
  padding-top: 64px;
  flex-grow: 1;
  background-color: #FFFDF8;
}

.listCard {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 16px;
}

.listItem {
  position: relative;
  width: 70vw;
  height: 85vh;
  color: #131313;
  overflow: hidden;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.listItem img {
  height: 80%;
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.text {
  height: 20%;
}

.description {
  
}

.sidebar {
  width: 10vw;
  flex-shrink: 0;
}

.topbar {
  flex-grow: 1;
}

.toolbar {
  background-color: #FFFDF8;
  color: #131313;
  overflow: auto;
}

.topbarButton {
  transition: color .2s ease;
}

.topbarButton:hover {
  color: #15A0EE !important;
  cursor: pointer;
}

.topbarButton:active {
  text-decoration: underline;
}

.link {
  text-decoration: none;
}

.cardImg {
  object-fit: cover;
  width: 100%;
  height: calc(60vw/2);
  min-height: 200px;
  vertical-align: bottom;
}

.cardTextWraper {
  height: 100%;
  display: table;
  background-color: #FFFDF8;
}

.cardText {
  display:table-cell;
  vertical-align: middle;
  padding-left: 16px;
}

.cardTextRight {
  display:table-cell;
  vertical-align: middle;
  padding-right: 16px;
}

.ProfessionalInfoCard {
  width: 60vw;
  height: calc(60vw/2);
  min-width: 400px;
  min-height: 200px;
  color: #131313;
}

.shadowed {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.hoverable {
  transition: transform .5s ease;
  cursor: pointer;
}

.hoverable:hover {
  transform: scale(1.01);
  z-index: 1;
  cursor: pointer;
}

.infoCardWraper {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 16px;
}

.infoText {
  width: calc(60vw - 16px);
  min-width: 400px;
}
